<footer class="<%= wrapClass %>">
  <div class="bg-gray-300">ここはフッターです</div>
</footer>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="../js/index.js"></script>
<script src="../js/api.js"></script>
