<head>
  <meta charset="UTF-8" />
  <title>Gift System</title>
  <!-- levelでネスト構造を解決する -->
  <link rel="stylesheet" href="<%= level %>/css/style.css" type="text/css" />
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- iPhone電話リンク対応 -->
  <meta name="format-detection" content="telephone=no" />
  <!-- 住所検索 -->
  <script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
</head>
