<!DOCTYPE html>
<html lang="ja">
  <%- include('./components/common/_head', { level: '.' }) %>
  <body class="footerFixedContainer">
    <%- include('./components/common/_header') %>
    <main id="js-html"></main>
    <p class="text-red-500">ここはConfirmです。</p>
    <%- include('./components/common/_footer', { wrapClass: "footerFixed" }) %>
  </body>
</html>
